.carousel-scroll {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 1rem;
  scroll-behavior: smooth;
}

.carousel-scroll .card {
  flex: 0 0 auto;
}

.carousel-scroll::-webkit-scrollbar {
  height: 8px;
}

.carousel-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.carousel-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.title-selection{
    color: red;
}
.datos-import{
    margin-bottom: 0px;
}